{% extends 'main.html' %}

{% block eq %}
<div class="row">
    <div class="large-12 columns">
     	<div class="panel">
            <b>ФИО:</b> {{ employee.surname }} {{ employee.firstname }} {{ employee.patronymic }}
            <br/>
            <b>Подразделение:</b> {{ employee.unit }}
            <br/>
            <b>Профессия:</b> {{ employee.profession}}
            <br/>
            <b>Принят:</b> {{ employee.hired }}
            <br/>
            <b>Перемещён:</b> {{ employee.moved }}
      	</div>
    </div>
</div>

    
<dl class="tabs" data-tab>
{% for type_equipment in type_equipments %}
    {% if forloop.first %}
        <dd class="active"><a href="#panel{{ type_equipment.id }}">{{ type_equipment.group_name }}</a></dd>
    {% else %}
        <dd><a href="#panel{{ type_equipment.id }}">{{ type_equipment.group_name }}</a></dd>
    {% endif %}
{% endfor %}
</dl>

<div class="tabs-content">
{% for type_equipment in type_equipments %}
    {% if forloop.first %}
        <div class="content active" id="panel{{ type_equipment.id }}">
            <table class="responsive large-12  medium-12  small-12 ">
            <thead>
                <tr>
                <th>Конструкция</th>
                <th>Тип</th>
                <th>Модель</th>
                <th>Производитель</th>
                <th>Цена</th>
                <th>Цена</th>
                </tr>
            </thead>
            {% for ownership in ownerships %}
                {% if ownership.equipment.type_eq.id == type_equipment.id %}
                <tbody>
                    <tr>
                        <td>{{ ownership.equipment.construction }}</td>
                        <td>{{ ownership.equipment.type_eq.group_name }}</td>
                        <td>{{ ownership.equipment.model_name }}</td>
                        <td>{{ ownership.equipment.manufacturer }}</td>
                        <td>{{ ownership.equipment.price }}</td>
                        <td>{{ ownership.delivery }}</td>
                    </tr>
                </tbody>

                {% endif %}
            {% endfor %}
            </table>
        </div>
    {% else %}
        <div class="content" id="panel{{ type_equipment.id }}">
            <table class="responsive large-12  medium-12  small-12 ">
            <thead>
                <tr>
                <th>Конструкция</th>
                <th>Тип</th>
                <th>Модель</th>
                <th>Производитель</th>
                <th>Цена</th>
                <th>Цена</th>
                </tr>
            </thead>
            {% for ownership in ownerships %}
                {% if ownership.equipment.type_eq.id == type_equipment.id %}
{#                    <div class="panel callout medium-5 columns">#}
{#                        <b>Конструкция:</b>  {{ ownership.equipment.construction }}<br/>#}
{#                        <b>Тип:</b>  {{ ownership.equipment.type_eq.group_name }}<br/>#}
{#                        <b>Модель:</b>  {{ ownership.equipment.model_name }}<br/>#}
{#                        <b>Производитель:</b>  {{ ownership.equipment.manufacturer }}<br/>#}
{#                        <b>Цена:</b>  {{ ownership.equipment.price }}<br/>#}
{#                        <b>Дата выдачи:</b>  {{ ownership.delivery }}<br/>#}
{#                    </div>#}
                    <tbody>
                    <tr>
                        <td>{{ ownership.equipment.construction }}</td>
                        <td>{{ ownership.equipment.type_eq.group_name }}</td>
                        <td>{{ ownership.equipment.model_name }}</td>
                        <td>{{ ownership.equipment.manufacturer }}</td>
                        <td>{{ ownership.equipment.price }}</td>
                        <td>{{ ownership.delivery }}</td>
                    </tr>
                    </tbody>
                {% endif %}
            {% endfor %}
            </table>
        </div>
    {% endif %}
{% endfor %}
</div>
{% endblock %}