{% extends 'main.html' %}

{% block eq %}
<div class="row">
    <div class="large-12 columns">
     	<div class="panel">
            <b>ФИО:</b> {{ employee.surname }} {{ employee.firstname }} {{ employee.patronymic }}
            <br/>
            <b>Подразделение:</b> {{ employee.unit }}
            <br/>
            <b>Профессия:</b> {{ employee.profession}}
            <br/>
            <b>Принят:</b> {{ employee.hired }}
            <br/>
            <b>Перемещён:</b> {{ employee.moved }}
      	</div>
    </div>
</div>

<dl class="tabs" data-tab>
{% for type_equipment in type_equipments %}
    {% if forloop.first %}
        <dd class="active"><a href="#panel{{ type_equipment.id }}">{{ type_equipment.group_name }}</a></dd>
    {% else %}
        <dd><a href="#panel{{ type_equipment.id }}">{{ type_equipment.group_name }}</a></dd>
    {% endif %}
{% endfor %}
</dl>

<div class="tabs-content">
{% for type_equipment in type_equipments %}
    {% if forloop.first %}
        <div class="content active" id="panel{{ type_equipment.id }}">
            {% for ownership in ownerships %}
                {% if ownership.equipment.type_eq.id == type_equipment.id %}
                    <div class="panel callout medium-5 columns">
                        <b>Конструкция:</b> {{ ownership.equipment.construction }} <br/>
                        <b>Тип:</b> {{ ownership.equipment.type_eq.group_name }}<br/>
                        <b>Модель:</b> {{ ownership.equipment.model_name }}<br/>
                        <b>Производитель:</b> {{ ownership.equipment.manufacturer }}<br/>
                        <b>Цена:</b> {{ ownership.equipment.price }}<br/>
                        <b>Дата выдачи:</b> {{ ownership.delivery }}<br/>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <div class="content" id="panel{{ type_equipment.id }}">
            {% for ownership in ownerships %}
                {% if ownership.equipment.type_eq.id == type_equipment.id %}
                    <div class="panel callout medium-5 columns">
                        <b>Конструкция:</b>  {{ ownership.equipment.construction }}<br/>
                        <b>Тип:</b>  {{ ownership.equipment.type_eq.group_name }}<br/>
                        <b>Модель:</b>  {{ ownership.equipment.model_name }}<br/>
                        <b>Производитель:</b>  {{ ownership.equipment.manufacturer }}<br/>
                        <b>Цена:</b>  {{ ownership.equipment.price }}<br/>
                        <b>Дата выдачи:</b>  {{ ownership.delivery }}<br/>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}
{% comment %}{#    <div class="content active" id="panel1">#}
{#        <div class="callout panel">#}
{#            <p>This is the first panel of the basic tab example. This is the first panel of the basic tab example.</p>#}
{#        </div>#}
{#    </div>#}
{#    <div class="content" id="panel2">#}
{#        <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>#}
{#    </div>#}
{#    <div class="content" id="panel3">#}
{#        <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>#}
{#    </div>#}
{#    <div class="content" id="panel4">#}
{#        <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>#}
{#    </div>#}{% endcomment %}
</div>
{#    {{ ownerships }}#}
{% endblock %}