{% extends 'main.html' %}
{% load staticfiles %}

{% block eq %}
    <div class="row">
        <div class="large-10 large-offset-1 medium-10 medium-offset-1 small-10 small-offset-1 text-center panel">
            <div class="large-6 large-offset-3 medium-6 large-offset-3 small-10 small-offset-1">
            <input type="text" data-date data-date-format="%d.%m.%Y" value="{{ date_expend }}"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-10 large-offset-1 medium-10 medium-offset-1 small-10 small-offset-1">
            <table class="responsive large-12  medium-12  small-12 ">
                <thead>
                    <tr>
                    <th>ФИО</th>
                    <th>Конструкция</th>
                    <th>Тип</th>
                    <th>Производитель</th>
                    <th>Заканчивается</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in table %}
                    <tr>
                        <td>{{ row.fio }}</td>
                        <td>{{ row.construction }}</td>
                        <td>{{ row.type }}</td>
                        <td>{{ row.manufacturer }}</td>
                        <td>{{ row.expends }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
<script type="text/javascript" src="{% static "js/vendor/date.js" %}" ></script>

{% endblock %}