{% extends 'main.html' %}

{% block eq %}
    <div class="row">
        <div class="large-10 large-offset-1 medium-10 medium-offset-1 small-10 small-offset-1 text-center panel">
            {{ date_expend }}
        </div>
    </div>
    <div class="row">
        <div class="large-10 large-offset-1 medium-10 medium-offset-1 small-10 small-offset-1">
            <table class="responsive large-12  medium-12  small-12 ">
                <thead>
                    <tr>
                    <th>ФИО</th>
                    <th>Конструкция</th>
                    <th>Тип</th>
                    <th>Производитель</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ownership in ownerships %}
                    <tr>
                        <td>{{ ownership.employees.fio }}</td>
                        <td>{{ ownership.equipment.construction.constructons_name }}</td>
                        <td>{{ ownership.equipment.type_eq.group_name }}</td>
                        <td>{{ ownership.equipment.manufacturer }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}