{% extends 'main.html' %}

{% block eq %}
    <div class="row">
        <div class="small-12 text-center panel">
            <b>Подразделение:</b> {{ unit_name }}
        </div>
    </div>
    <div class="row">
        <div class="large-6 medium-6 columns">
            <div class="panel radius">
                <div class="large-text-center"><b>Подразделения:</b></div><br/>
                <div class="row text-right">
                <div class=" large-10 large-offset-1 medium-10 medium-offset-1 smoll-10 small-offset-1 columns">
                {% for unit in units %}
                    {% load staticfiles %}
                    <p><a href="{% url 'cart' unit.id %}">{{ unit.unit }}</a> &nbsp;
                        <a href="#"><img src="{% static "img/del.png" %}" alt="Ред."/></a>&nbsp;
                        <a href="#"><img src="{% static "img/edit.png" %}" alt="Уд."/></a></p>
                {% endfor %}
                </div>
                </div>
            </div>
        </div>
        <div class="large-6 medium-6 columns">
            <div class="panel radius">
                <div class="large-text-center"><b>Больше информации</b></div>
                <br/>
                <a href="{% url 'addunit' %}" class="button expand">Добавить подразделение</a>
            </div>
        </div>
    </div>
{% endblock %}