{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Средства защиты</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/foundation.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}"/>

</head>
<body>
<div class="row">
    <div class="large-12 medium-12 small-12 columns">
        <div class="nav-bar right">
            <a href="{% url 'logout' %}" class="button">Выйти</a>
        </div>
            <h1>"Средства защиты"</h1>
            <hr/>
        </div>
</div>
<div class="row">
    {% block eq %}{% endblock %}
</div>
<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-6 medium-6 small-12 columns">
                <p>&copy; КрИЖТ ИрГУПС {% now "Y" %}</p>
            </div>
            <div class="large-6 medium-6 small-12 columns">
                <ul class="inline-list right">
                    <li><a href="#">Помощь</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/foundation.min.js" %}"></script>
    <script>
        $(document).foundation();
    </script>
</body>
</html>